* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.selector {
  display: flex;
  justify-content: space-between;
}

.selector-wrapper {
  width: 40%;
  text-align: center;
}

.selector h2 {
  font-size: 36px;
}

.selector select{
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-right: 5px;
  border-radius: 5px;
  text-align: right;
}

button {
  width: 100%;
  display: block;
  margin: 20px auto;
  background-color: #069;
  color: white;
  font-size: 28px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.display {
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  border: 2px solid black;
}
 
.display h3 {
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .center {
    width: 100%;
    padding: 0 2%;
  }
}