* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

.container {
  max-width: 1400px;
  width :100%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

/********************************************************************************************/
/******************************/ /********** HEADER **********/ /****************************/
header {
  padding: 20px 2%;
}

header .logo {
  float: left;
  width :236px;
}

header .logo img {
  width: 100%;
}

header nav {
  float: right;
}

nav.menu-desktop ul {
  padding: 8px 0;
  list-style-type: none;
}

nav.menu-desktop ul li {
  float: left;
  padding: 0 20px;
  text-transform: uppercase;
}

nav.menu-desktop ul li a {
  text-decoration: none;
  color: #b4b4b4;
}

header nav.menu-mobile {
  display: none;
  width :28px;
  height: 28px;
  background: url('../images/menu-mobile.png') center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

nav.menu-mobile ul {
  display: none;
  text-align: center;
  position :absolute;
  left: 0;
  top: 60px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

nav.menu-mobile ul li {
  padding: 10px 0;
  text-transform: uppercase;
}

nav.menu-mobile ul li a {
  text-decoration: none;
  color: #b4b4b4;
}

/********************************************************************************************/
/******************************/ /********** MOSAIC **********/ /****************************/
.mosaic-single {
  float: left;
  width: calc(100% / 6);
}

.mosaic-img {
  width: 100%;
  padding-top: 100%;
  background-color: #ccc;
  border: 5px solid white;
}

/********************************************************************************************/
/*****************************/ /********** SERVICES **********/ /***************************/
.services .container {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
  top :-30px;
  text-align: center;
}

.services .service-single:nth-of-type(2n + 1) {
  width: 30%;
  padding: 50px 2%;
  background: #576975 url('../images/icone_dente.png') center calc(100% - 5px) no-repeat;
  background-size: 18px 18px;
}

.services .service-single:nth-of-type(2) {
  width: 40%;
  padding: 70px 2%;
  background-color: #688293;
} 

.services .service-single h2 {
  font-weight: normal;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.services .service-single p {
  color: white;
  margin-top: 8px;
  font-weight: normal;
  font-size: 12px;
}

/********************************************************************************************/
/*****************************/ /********** PROFILE **********/ /****************************/
.profile {
  padding: 10px 2%;
}

.profile .container {
  max-width: 1000px;
}

.profile .profile-wrapper {
  padding-top: 50%;
  position: relative;
}

.profile .profile-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.profile .profile-img {
  width: 40%;
  height: 100%;
  background: url('../images/img_perfil.png') center no-repeat;
  background-size: contain;
}

.profile .profile-text {
  width: 60%;
  padding: 0 30px;
}

.profile .profile-text h2 {
  color: #698293;
  font-size: 18px;
}

.profile .profile-text p {
  color: rgb(190, 190, 190);
  font-size: 14px;
  margin-top: 8px;
}

/********************************************************************************************/
/*****************************/ /********** VIDEOS **********/ /****************************/
.videos {
  padding: 50px 2%;
}

.video-single{
  position: relative;
  float: left;
  width: calc(100% / 3);
  padding-top: calc((100% / 3) * 0.6);
  background-color: #ccc;
  border: 5px solid white;
}

.video-single iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

/********************************************************************************************/
/***************************/ /********** TREATMENTS **********/ /***************************/
.treatments > h2 {
  font-size: 18px;
  padding: 40px 0;
  text-align: center;
  color: #698293;
}

.treatment-wrapper {
  float: left;
  width: calc(100% / 3);
}

.treatment-single {
  padding :20px
}

.treatment-single h2 {
  font-size: 18px;
  color: #737373;
}

.treatment-single p {
  padding: 10px 0;
  font-size: 13px;
  color: #b4b4b4;
}

/********************************************************************************************/
/***************************/ /********** TESTMONIES **********/ /***************************/
.testimonies .container {
  max-width: 400px;
  margin-bottom: 30px;
}

.testimonies > h2 {
  color: #698293;
  text-align: center;
  font-size: 18px;
  padding: 60px 0 40px 0;
}

.testimony-single {
  text-align: center;
  width :100%;
  padding: 0 2%;
}

.testimony-single q {
  font-size: 15px;
  color: #b4b4b4;
}

.testimony-profile {
  padding: 8px 0;
}

.testimony-profile img {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.testimony-profile span {
  position: relative;
  top: 6px;
  font-size: 13px;
  color: #b4b4b4;
  vertical-align: top;
}

/********************************************************************************************/
/*****************************/ /********** SOCIAL **********/ /*****************************/
.social-instagram {
  float: left;
  width :100%;
  text-align: center;
  padding: 40px 0;
  background-color: #98A5AE;
}

.social-instagram p {
  color: white;
  padding: 10px 0;
  line-height: 23px;
  font-size: 13px;
}

.social-mosaic {
  float: left;
  width :100%;
}

.social-mosaic-single {
  float: left;
  width: calc(100% / 9);
  padding-top: calc(100% / 9);
  background-color: #ccc;
  border: 6px solid white;
}

.social-facebook {
  float: left;
  width :100%;
  text-align: center;
  padding: 40px 0;
  background-color: #576975;
}

.social-facebook p {
  color: white;
  padding: 10px 2%;
  line-height: 23px;
  font-size: 13px;
}

/********************************************************************************************/
/*****************************/ /********** CONTACT **********/ /****************************/
.contact {
  padding: 60px 0;
}

.contact h2 {
  font-size: 18px;
  text-align: center;
  color: #698293;
}

.contact form {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
}

.form-wrapper {
  float: left;
  margin-top: 10px;
  padding: 0 10px;
}

.w100 { width: 100%; }

.w50 { width: 50%; }

.form-wrapper span {
  font-size: 15px;
  color: #b4b4b4;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper input[type="tel"] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 9px;
  border: 1px solid #dadada;
  margin-top: 8px;
}

.form-wrapper textarea {
  width: 100%;
  padding: 9px;
  margin-top: 8px;
  height: 121px;
  border: 1px solid #dadada;
  resize: none;
}

form .form-wrapper:nth-of-type(5) {
  text-align: center;
}

.form-wrapper input[type="submit"] {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 0;
  background-color: #688293;
  color: white;
  cursor: pointer;
}

/********************************************************************************************/
/*****************************/ /********** FOOTER **********/ /*****************************/
footer {
  padding: 40px 2%;
  background-color: #688293;
}

footer .container {
  max-width: 900px;
}

.footer-wrapper {
  float: left;
  width: calc(100% / 3);
}

.footer-wrapper h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

.footer-wrapper p {
  color: white;
  font-size: 14px;
}

/********************************************************************************************/
/***************************/ /********** RESPONSIVE **********/ /***************************/
@media screen and (max-width: 1024px) {
  .social-mosaic-single {
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
  }

  .social-mosaic-single:nth-of-type(1n + 7) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header .logo {
    width: 200px;
  }

  header nav.menu-desktop {
    display: none;
  }

  header nav.menu-mobile {
    display: block;
  }

  .services .container {
    flex-direction: column;
  }

  .services .service-single:nth-of-type(2n + 1) {
    width: 90%;
    max-width :350px;
    padding: 30px 2%;
  }

  .services .service-single:nth-of-type(2) {
    width: 94%;
    max-width: 380px;
    padding: 45px 2%;
  } 

  .profile .profile-wrapper {
    padding-top: 0;
  }

  .profile .profile-wrapper-2 {
    display: inline-block;
    text-align: center;
    height: auto;
    position: static;
  }

  .profile .profile-img {
    width: 50%;
    display: inline-block;
    padding-top: 70%;
    height: auto;
  }

  .profile .profile-text {
    display: inline-block;
    width: 80%;
    text-align: justify;
    padding: 0 30px;
  }

  .videos {
    text-align: center;
  }
  
  .video-single{
    display: inline-block;
    float: none;
    width: 70%;
    padding-top: calc(70% * 0.6);
    border: 5px solid white;
  }

  .social-mosaic-single {
    width: calc(100% / 3);
    padding-top: calc(100% / 3);
  }

  .social-mosaic-single:nth-of-type(1n + 4) {
    display: none;
  }

  .w50 {
    width: 100%;
  }

  footer {
    text-align: center;
  }

  footer .footer-wrapper {
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}

/********************************************************************************************/
/*****************************/ /********** SLICK **********/ /*****************************/
.slick-dotted ul {
  list-style-type: none;
  text-align: center;
  position: relative;
  margin-top: 50px;
}

.slick-dotted li {
  display: inline-block;
  margin: 0 7px;
}

.slick-dotted button:focus {
  outline: 0;
}

.slick-dotted li button {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  color: #d8d8d8;
  border-width: 0;
  background-color: #d8d8d8;
  opacity: 1;
  cursor: pointer;
}

li.slick-active button {
  background-color: #688293;
  color: #688293;
}

.slick-slide:focus {
  outline: none;
}