* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

/********************************************************************************************/
/*****************************/ /********** HEADER **********/ /*****************************/

header {
  height: 20vh;
}

header > .center{
  justify-content: space-between;
  padding: 20px 20px;
}

.logo img {
  width: 60%;
  margin: 0 20px;
}

.menu {
  padding: 0 20px;
  line-height: 80px;
}

.menu a {
  margin: 0 20px;
  color: black;
  text-decoration: none;
}

/********************************************************************************************/
/******************************/ /********** ABOUT **********/ /*****************************/

main {
  height: 80vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 80vh;
}

.about-text {
  margin: 10% 0;
}

.about h1 {
  line-height: 70px;
  font-size: 60px;
  font-weight: 400;
}

.about span {
  font-weight: bold;
  color: #017143;
}

.about p {
  width: 80%;
  margin: 14px 0;
  line-height: 25px;
}

.about button {
  width: 120px;
  line-height: 36px;
  text-align: center;
  border: none;
  border-radius: 18px;
  color: white;
  background-color: #017143;
}

.about-img {
  display: flex;
  flex-direction: row-reverse;
}

.about-img img {
  width: 40px;
  margin: 0 10px;
}

/********************************************************************************************/
/*****************************/ /********** BANNER **********/ /*****************************/

.banner {
  width: 40%;
  z-index: -1;
}

.banner .circle {
  position: fixed;
  background-color: #095736;
  right: -700px;
  bottom: -700px;
  width: 1400px;
  height: 1400px;
  border-radius: 50%;
}

.banner-content {
  display: flex;
  justify-content: space-between;
}

.banner-img img{
  position: fixed;
  right: 220px;
  bottom: 50px;
  width: 400px;
}

.banner .social {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  top: 40%;
}

.banner .social img {
  width: 20px;
  margin: 10px;
}

/********************************************************************************************/
/***************************/ /********** RESPONSIVE **********/ /***************************/

@media screen and (max-width: 1080px) {
  .about {
    width: 80%;
  }


}


@media screen and (max-width: 768px) {

  header > .center{
    justify-content: center;
  }

  header .menu {
    padding: 0;
  }

  .menu a {
    margin: 0 10px;
  }

  .about {
    display: flex;
    width: 80%;
    padding: 0 10px;
  }

  .about h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .banner .circle {
    right: -500px;
    bottom: -500px;
    width: 1000px;
    height: 1000px;
  }

  .banner-img img{
    right: 50px;
    bottom: 50px;
    width: 300px;
  }
}

@media screen and (max-width: 640px) {

  .banner-img {
    display: none;
  }
}